In [19]:
import pandas as pd
import requests

# Fetch the data.
df = pd.read_csv("https://ourworldindata.org/grapher/cocoa-bean-production.csv?v=1&csvType=full&useColumnShortNames=true", storage_options = {'User-Agent': 'Our World In Data data fetch/1.0'})

# Fetch the metadata
metadata = requests.get("https://ourworldindata.org/grapher/cocoa-bean-production.metadata.json?v=1&csvType=full&useColumnShortNames=true").json()

In [20]:
df.columns[-1]

'cocoa_beans__00000661__production__005510__tonnes'

In [21]:
dff=df[df['Entity']=='Africa'][['Year','cocoa_beans__00000661__production__005510__tonnes']]

In [18]:
dff

    Year  cocoa_beans__00000661__production__005510__tonnes
0   1961                                           835368.0
1   1962                                           867170.0
2   1963                                           922621.0
3   1964                                          1190061.0
4   1965                                           874245.0
..   ...                                                ...
57  2018                                          3784529.8
58  2019                                          3741801.8
59  2020                                          3808714.0
60  2021                                          4022474.0
61  2022                                          4103661.0

[62 rows x 2 columns]